*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* NAVBAR */

.navbar{
    background-color: #3B3B3B;
}

nav ul{
    /* float: left; */
    position: fixed;
    margin-left: 20px;
    background: #F8CD6B;
    /* opacity: 0.83; */
    height: 56vh;
    width: 13vw;
    border-radius: 10px;
    top: 13vh;
    left: 1vh;
    text-align: center;
    display: none;
}

nav ul li{
    display: block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #3B3B3B;
    font-weight: 500;
    font-size: large;
    text-align: center;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
}

nav ul .active{
    background: beige;
    color: #3B3B3B;
    transition: .5s;
}
nav ul li .hover{
    color: beige;
}
nav i{
    font-size: 45px;
    color: white;
    cursor: pointer;
    margin-left: 6vw;
}
#check{
    display: none;
}
#check:checked ~ ul{
    left: 0;
    display: block;
    transition: 0.5s;
}